<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/{{style}}" />
  </head>
  <body>
    <h1>Email send</h1>
    <p>We`ve sent you a link to reset your password. Please check your email and follow the steps.</p>
    <a href="/login">Return to Login</a>
    <img
      src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/602e845dc6b4255ec178360b/images/651a79f9cd754333c4292603/file-wdX5evfEyb.png"
      alt="emailSend"
    />
  </body>
</html>