<body>
  <h1>Welcome to FlameShop</h1>
  <p>Find your products here!</p>
  <a href="/login" class="button">Check it Now!</a>
  <br />
  <img
    src="https://i.ebayimg.com/images/g/swoAAOSwCm9kEMTF/s-l1200.webp"
    alt="Welcome Image"
  />

</body>