<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <p>dirname: {{dirname}}</p>

    {{{body}}}

    <div class="footer">
      © 2024 Copyright:
      <a class="footer" href="">JMGA</a>
    </div>
  </body>
</html>